{% extends 'base.html.twig' %}

{% block title %}Computer{% endblock %}

{% block body %}
    <h1>Computer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ computer.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ computer.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_computer_index') }}">back to list</a>

    <a href="{{ path('app_computer_edit', {'id': computer.id}) }}">edit</a>

    {{ include('computer/_delete_form.html.twig') }}
{% endblock %}
